<ng-container *ngIf="isLoggedIn(); else loginTemplate">
  <div class="app-container">
    <header class="top-menu">
      <div class="logo-container">
        <h1 [routerLink]="home" class="logo">Gita IT</h1>
      </div>
      <nav class="top-nav">
        <ul class="nav-list">
          <li *ngFor="let item of menuItems" class="nav-item">
            <a [routerLink]="item.link" class="nav-link">
              {{ item.title }}
            </a>
            <ul *ngIf="item.subMenu" class="sub-menu">
              <li *ngFor="let subItem of item.subMenu">
                <a href="#" class="sub-menu-link">{{ subItem }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <button (click)="onLogout()" class="logout-btn">Logout</button>
    </header>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</ng-container>

<ng-template #loginTemplate>
  <router-outlet></router-outlet>
</ng-template>
